# Essential dependencies
Flask==2.2.3
numpy==1.26.4
pandas==2.0.3
scikit-learn==1.3.2
gunicorn==20.1.0

# Dependencies that can be removed
# altair==5.5.0
# Flask-Mail==0.10.0
# Flask-MySQLdb==2.0.0
# Flask-WTF==1.2.2
# imbalanced-learn==0.12.4
# imblearn==0.0
# matplotlib==3.9.3
# seaborn==0.13.2
# streamlit==1.41.1
# xgboost==2.1.3
# and many other unused packages